@font-face {
	font-family: 'Conv_YandexSansText-Bold';
	src: url('fonts/YandexSansText-Bold.eot');
	src: local('☺'), url('fonts/YandexSansText-Bold.woff') format('woff'), url('fonts/YandexSansText-Bold.ttf') format('truetype'), url('fonts/YandexSansText-Bold.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_YandexSansText-Medium';
	src: url('fonts/YandexSansText-Medium.eot');
	src: local('☺'), url('fonts/YandexSansText-Medium.woff') format('woff'), url('fonts/YandexSansText-Medium.ttf') format('truetype'), url('fonts/YandexSansText-Medium.svg') format('svg');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_YandexSansText-Regular';
	src: url('fonts/YandexSansText-Regular.eot');
	src: local('☺'), url('fonts/YandexSansText-Regular.woff') format('woff'), url('fonts/YandexSansText-Regular.ttf') format('truetype'), url('fonts/YandexSansText-Regular.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}

:root{
	--color-white: #F7F9FB;
	--color-black: #141414;
	--color-grey: #3D3D3D;
	--color-white-grey: #D2D2D2;
	--color-accent: #FFD11C;
	--color-blue: #546CF7;
	--color-deep-blue: #34367C;
}

.logo{
	font-weight: 500;
	font-size: 20px;
	color: var(--color-white);
}

.btn{
	background-color: transparent;
	border: 1px solid var(--color-white);
	border-radius: 20px;
	color: var(--color-white);
	font-size: 18px;
	font-weight: 500;
	cursor: pointer;

	&:hover{
		background-color: var(--color-accent);
		color: var(--color-black);
		border: 1px solid var(--color-accent);
		transition: background-color 0.2s, color 0.2s, border 0.2s;
	}
}

.btn--accent{
	background-color: var(--color-accent);
	border: none;
	border-radius: 20px;
	color: var(--color-black);
	font-size: 18px;
	font-weight: 500;
	cursor: pointer;

	&:hover{
		background-color: transparent;
		color: var(--color-white);
		outline: 1px solid var(--color-white);
		transition: background-color 0.2s, color 0.2s;
	}
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    padding: 0;
    margin: 0;
	font-family: 'Conv_YandexSansText-Regular', sans-serif;
}

.container{
    max-width: 1160px;
    margin: 0 auto;
}

.header{
	height: 100vh;
	background: url(../img/background.png) center / cover no-repeat;
	padding-top: 30px;

	&__inner{
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__menu-container{
		display: flex;
		justify-content: space-between;
		align-items: center;
		column-gap: 110px;
	}

	&__menu{
		&-list{
			display: inline-flex;
			column-gap: 20px;
		}

		&-link{
			list-style-type: none;
			color: var(--color-white);
			font-size: 16px;
			font-weight: 400;

			a{
				text-decoration: none;
				color: inherit;
			}
		}
	}

	&__btns{
		display: flex;
		column-gap: 10px;
	}

	&__btn{
		height: 53px;
		padding-inline: 30px;
	}

	&__btn-accent{
		height: 53px;
		padding-inline: 20px;
	}
}

.hero{
	margin-top: 120px;

	&__inner{
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__title{
		font-size: 60px;
		font-weight: bold;
		color: var(--color-white);
		text-align: center;
		max-width: 780px;
		line-height: 1.1;
		margin-bottom: 20px;
	}

	&__text{
		color: var(--color-white-grey);
		font-size: 16px;
		line-height: 1.4;
		text-align: center;
		margin-bottom: 40px;
		max-width: 520px;
	}

	&__btn-container{
		display: flex;
		column-gap: 20px;
		justify-content: center;
	}

	&__btn{
		height: 63px;
		padding-inline: 50px;
	}

	&__btn-accent{
		height: 63px;
		padding-inline: 40px;
	}

	&__arrow{
		width: 400px;
		margin-left: 100px;
	}
}

.section{
	margin-top: 120px;
}